body {
  margin: 0;
  padding: 0;
}
.container {
  display: flex;
  flex-direction: column;
}
.header {
  display: flex;
  flex-direction: row;
  height: 100px;
}
.title {
  display: flex;
  flex-direction: row;

  align-items: center;
  width: 500px;
}
.title-img {
  display: inline-block;
  width: 100px;
  height: 100px;
}
.title-text {
  display: inline-block;
  font-size: 28px;
  font-family: sans-serif;
}
.nav {
  display: flex;
  flex-direction: row;
  justify-content: right;
  align-items: center;
  flex: 1;
  padding-right: 50px;
}
.nav a {
  display: inline-block;
  margin-left: 20px;
  font-size: 20px;
  font-family: sans-serif;
  font-weight: 700;
  text-decoration: none;
  color: #333;
}

.nav a:hover {
  cursor: pointer;
  color: #0e6ff9;
}
.nav a:active {
  color: #0e6ff9;
}
#actived {
  text-decoration: underline;
  color: #0e6ff9;
}
.content {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 20px;
}
.content img {
  display: inline-block;
  width: 200px;
  height: 200px;
  margin: 10px;
}

.form {
  margin-top: 300px;
}
input {
  box-sizing: border-box;
  background: #2d3436;
}

input[type='text'] {
  border: none;
  outline: none;
  width: 340px;
  height: 40px;
  font-size: 22px;
  border-radius: 20px 0 0 20px;
  padding: 5px 100px 5px 16px;
  color: white;
}

input[type='submit'] {
  /* position: absolute;
  top: 0px;
  right: 0px; */
  height: 40px;
  width: 86px;
  border: none;
  outline: none;
  color: #fff;
  font-size: 18px;
  padding: 0 8px;
  letter-spacing: 2px;
  background: #fdcb6e;
  border-radius: 0 20px 20px 0;
  transform-origin: right;
  cursor: pointer;
  transition: 0.5s;
}

input[type='submit']:hover {
  background: #daa950;
  text-shadow: 0 0 4px rgb(238, 247, 113);
}

input[type='submit']:active {
  background: #6c5ce7;
}

::-webkit-input-placeholder {
  color: #bfbfc1;
}
